<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://myworkspace.vn/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>
<body>
    <!--/*  Multiple fragments may be defined in one file */-->
    <div th:fragment="footer" th:align="center">
        &copy; 2025 The Training Program at <a href="https://myworkspace.vn/portal/site/intern-java">https://myworkspace.vn/portal/site/intern-java</a>
    </div>
    <div th:fragment="footer-admin" th:align="center">
        This is administrative footer.
    </div>
</body>
</html>