<div>

    <!-- Modal -->
    <div class="modal fade" id="dlg_about" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">About HelloMWS</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label>Version: </label>:<span>0.0.1 Demo</span>
            
            <div>
                <label>
                    This demo is a web-based application helps that you get started with your own application, which can run on both Tomcat Standalone and Tomcat Sakai 25.
                </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>