    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/library/skin/default-skin/tool.css">

    <!-- Determine the root context of the application.  -->
    <script th:inline="javascript">
		var _ctx = /*[[@{/}]]*/ '';
		const userEId = /*[[${session.userEid}]]*/ 'guest';
		const isManager = /*[[${session.isManager}]]*/ '';
		const hasPermDeleteAny = /*[[${session.hasPermDeleteAny}]]*/ 'false';
		const hasPermVisitDashboard = /*[[${session.hasPermVisitDashboard}]]*/ 'false';

    </script>

    <!-- jQuery library -->
    <script src="/library/webjars/jquery/1.12.4/jquery.min.js"></script>
    
    <!-- Bootstrap library -->
    <script src="/library/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>

    <!-- For Sakai only -->
    <script type="text/javascript" src="/library/js/headscripts.js"></script>
    
    <script type="text/javascript" th:src="@{/resources/about.js}" ></script>

